mkdocs
mkdocs-macros-plugin
mkdocs-simple-hooks
mkdocs-exclude
mkdocs-material-extensions
mkdocs-pdf-export-plugin
mkdocs-material
markdown-include
python-slugify
pymdown-extensions
mutagen
beautifulsoup4