@charset "UTF-8";

:root {
/*
Primary color:
- Main: #008abd
- Dark: #00a1de
- Light: #9cbdd5
Secondary coor:
- Main: #4b5059
- Dark: #333333
- Light: #bdbbbc
 */


  /* Default color shades */
  --md-default-fg-color:               #000000;
  --md-default-fg-color--light:        #333333;
  --md-default-fg-color--lighter:      #555555;
  --md-default-fg-color--lightest:     #777777;
  --md-default-bg-color:               #f0f0f0;
  --md-default-bg-color--light:        #fafafa;
  --md-default-bg-color--lighter:      #fefefe;
  --md-default-bg-color--lightest:     #ffffff;

  /* Primary color shades */
  --md-primary-fg-color:               #4b5059;
  --md-primary-fg-color--light:        #d0d0d0;
  --md-primary-fg-color--dark:         #333333;
  --md-primary-bg-color:               #e0e0e0;
  --md-primary-bg-color--light:        #ffffff;

  /* Accent color shades */
  --md-accent-fg-color:                #008abd;
  --md-accent-fg-color--light:         #bfeeff;
  --md-accent-fg-color--transparent:   #000000;
  --md-accent-bg-color:                #f0f0f0;
  --md-accent-bg-color--light:         #ffffff;

  /* Code block color shades */
  --md-code-bg-color:                  #4b5059;
  --md-code-fg-color:                  #f0f0f0;

  --md-answer-color:                   #ffffff;
  --md-answer-background-color:        var(--md-accent-fg-color);
  --md-answer-border-color:            var(--md-accent-fg-color);
}

body,input{
  font-family:"Verdana",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}
code,kbd,pre{
  font-family:"Courier New",SFMono-Regular,Consolas,Menlo,monospace;
}

.md-header-nav__button.md-logo img {
  width: auto;
}

.md-tabs {
  background-color: var(--md-primary-fg-color--dark);
}

.md-content aside {
  float: right;
  max-width:33%;
  margin-left:1rem;
}

.md-content img {
  border: 1px solid var(--md-accent-fg-color);
  background: var(--md-accent-bg-color--light);
}

.md-content h2, .md-content h3, .md-content h4, .md-content hr {
  clear: both;
}

.md-footer {
  background: var(--md-default-fg-color--light)
}

.md-typeset .tldr>.admonition-title::before, .md-typeset .tldr>summary::before {
  background-color: var(--md-accent-fg-color)
}

.md-typeset .tldr>.admonition-title::before, .md-typeset .tldr>summary::before {
  background-color: var(--md-accent-fg-color)
}

.md-typeset .admonition.note, .md-typeset details.note,
.md-typeset .admonition, .md-typeset details {
  border-color: var(--md-primary-fg-color);
  background: var(--md-primary-bg-color--light)
}

.md-typeset .note>.admonition-title::before, .md-typeset .note>summary::before {
  background-color: var(--md-primary-fg-color)
}

.md-typeset .note>.admonition-title, .md-typeset .note>summary {
  background-color: var(--md-primary-fg-color--light)
}

.md-typeset a {
    color: var(--md-accent-fg-color);
}

.md-content a button {
  padding:0.5em;
  display:inline-block;
  cursor: pointer;
  color:var(--md-accent-bg-color);
  background-color:var(--md-accent-fg-color);
}

.md-content .download,
.md-content .download a {
  margin-bottom:0.8rem;
  font-size: 0.6rem;
}

.md-content__button {
  margin:0;
}

@media screen and (max-width: 700px) {
  .md-content .download a {
    display: block;
  }
  .md-content .download a button {
    display: block;
    text-align: center;
    width:100%;
  }
}

.md-content h1 + audio {
  position:relative;
  display: block;
  width:100%;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.md-content h3 + audio {
  position:relative;
  display: block;
  width:100%;
  margin-top: -0.8rem;
  margin-bottom: 0.8rem;
}

@media print {
  @page {
    size: a4 portrait;
    margin: 10mm 10mm 10mm 10mm;
    counter-increment: page;
  }
  .md-typeset .admonition, .md-typeset details {
    page-break-inside: auto;
  }
  body {
    background-color: #ffffff;
  }
  .download {
    display:none;
  }
}

.quiz__answers input {
  display:none
}
.quiz__answers label {
  position:relative;
  display:block;
  border: 1px solid var(--md-accent-fg-color);
  border-radius:1rem;
  margin-top:0.75rem;
  margin-bottom:0.75rem;
  height:2rem;
  line-height:2rem;
  padding-left:2rem;
  cursor: pointer;
}
.quiz__answers input + label::before {
  position: absolute;
  top: 0;
  left: 0.2rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  content:"◯";
}
.quiz__answers input:checked + label {
  color: var(--md-answer-color);
  border-color: var(--md-answer-background-color);
  background-color: var(--md-answer-background-color);
}
.quiz__answers input:checked + label::before {
  color: var(--md-answer-color);
  margin-top:-2px;
  content:"⦻";
}
